# Ignorer les fichiers Python compilés
__pycache__/
*.pyc
*.pyo

# Ignorer les fichiers git
.git
.gitignore

# Ignorer les fichiers temporaires et venv
*.env
*.venv/
*.DS_Store

# Ignorer les fichiers Streamlit cache
.cache/
