# Ignorer les fichiers Python compilés
__pycache__/
*.pyc
*.pyo

# Ignorer les fichiers git
.git
.gitignore

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers temporaires et venv
*.env
*.venv/
*.DS_Store